.questionNumber {
	font-weight: bold;
	font-size: 12pt;
	font-family: Times New Roman, Times, serif;
}
.question {
	font-weight: ;
	font-size: 15pt;
	font-family: Times New Roman,Century,Times,serif;
	letter-spacing: 0;
}
.answer{
	font-weight: ;
	font-size: 15pt;
	font-family: Times New Roman,Century,Times,serif;
	letter-spacing: 0;
}
.separator {
	font-size:0;
	color: #FFFFFF;
}