body {margin:1.5em 0;}
.container {width:600px;margin:0 auto;}

html body{
	background: #FFFFFF url(../img/menu_back.gif) repeat-x;
	color:#000000;
	text-align:center;
}
p{
	width:100%;
}
.container{
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
.wide320{
	width:320px
}
h1.title{
	text-align:center;
}

table.checktable {
	border-collapse: collapse;
	width: 600px;
}
table.checktable, table.checktable th, table.checktable td{
	border: 1px solid #349999;
}
table.checktable th{
	background:#A3D1D1 url(../img/tbl_bg02.gif) repeat;
}

ul.choice{
	list-style-type:none;
	font-size:1.4em;;
	line-height:1.5em;
	text-align:left;
}
ul.choice label{
	font-weight:normal;
}
.pad-lft25{
	padding-left:25px;
}
.mar-lft50{
	margin-left:50px;
}
.mar-top10{
	margin-top:10px;
}
.mar-btm10{
	margin-bottom:10px;
}
.float-lft{
	display:block;
	float:left;
}
.mar-rgt25{
	margin-right:25px
}
.mar-rgt50{
	margin-right:50px
}
.underline{
	text-decoration: underline
}
.font-red{
	color:#FF0000;
}
strong.col1{
	color:#FF4444;
}
.man1 hr{
	background-color:#FFFFFF;
	border: 0;
	border-bottom:1px #CCCCCC dotted;
	width: 95%;
	margin-right:auto;
	margin-left:auto;
}


input.button {width:10em;height:40px;}


.comment {	padding:.8em; width:600px; margin:10px auto 10px auto;}

.comment1 {	padding:.8em; border-style:solid; border-width:1px; margin:10px auto;}
.comment1 { background:#FFFFFF;color:#000000;border-color:#349999;}
.comment1 a {color:#00008B; background:none; padding:0; margin:0; }

.comment-ok { padding:.8em; border-style:solid; border-width:1px; margin:10px auto;}
.comment-ok {background:#FFFFFF url(../img/msg-back1.gif) repeat-x; background-position: bottom; color:#000000;border-color:#FF6600;}
.comment-ok a {color:#00008B; background:none; padding:0; margin:0; }

.comment-err { padding:.8em; border-style:solid; border-width:1px; margin:10px auto;}
.comment-err {background:#FFFFFF url(../img/msg-back2.gif) repeat-x;color:#000000;border-color:#DBA0A2;}
.comment-ok a {color:#00008B; background:none; padding:0; margin:0; }

